# Get lat long for Geo Locations with local database

In [2]:
!pip install --upgrade py2neo
from py2neo import Graph, Relationship, NodeMatcher
from string import Template
import pandas as pd 

#Login + PW for the local neo4j database
graph = Graph(auth=("neo4j", "sonar2021"))

Requirement already up-to-date: py2neo in /Users/mark-janbludau/opt/anaconda3/lib/python3.8/site-packages (2021.2.0)
Requirement already satisfied, skipping upgrade: certifi in /Users/mark-janbludau/opt/anaconda3/lib/python3.8/site-packages (from py2neo) (2020.6.20)
Requirement already satisfied, skipping upgrade: urllib3 in /Users/mark-janbludau/opt/anaconda3/lib/python3.8/site-packages (from py2neo) (1.25.11)
Requirement already satisfied, skipping upgrade: packaging in /Users/mark-janbludau/opt/anaconda3/lib/python3.8/site-packages (from py2neo) (20.4)
Requirement already satisfied, skipping upgrade: pansi>=2020.7.3 in /Users/mark-janbludau/opt/anaconda3/lib/python3.8/site-packages (from py2neo) (2020.7.3)
Requirement already satisfied, skipping upgrade: six>=1.15.0 in /Users/mark-janbludau/opt/anaconda3/lib/python3.8/site-packages (from py2neo) (1.15.0)
Requirement already satisfied, skipping upgrade: pygments>=2.0.0 in /Users/mark-janbludau/opt/anaconda3/lib/python3.8/site-packages (from py2neo) (2.7.2)
Requirement already satisfied, skipping upgrade: monotonic in /Users/mark-janbludau/opt/anaconda3/lib/python3.8/site-packages (from py2neo) (1.6)
Requirement already satisfied, skipping upgrade: interchange~=2021.0.3 in /Users/mark-janbludau/opt/anaconda3/lib/python3.8/site-packages (from py2neo) (2021.0.3)
Requirement already satisfied, skipping upgrade: pyparsing>=2.0.2 in /Users/mark-janbludau/opt/anaconda3/lib/python3.8/site-packages (from packaging->py2neo) (2.4.7)
Requirement already satisfied, skipping upgrade: pytz in /Users/mark-janbludau/opt/anaconda3/lib/python3.8/site-packages (from interchange~=2021.0.3->py2neo) (2020.1)

In [72]:
query = 'MATCH (g:GeoName)\ 
WHERE g.Coordinates STARTS WITH "N" OR g.Coordinates STARTS WITH "S" AND NOT g.Coordinates CONTAINS ";" \
RETURN g.Id As Id, g.Name AS Name, g.Coordinates AS Coordinates'
result = graph.run(query).data()
df = pd.DataFrame(result)
df

                       Id                   Name              Coordinates
0         (DE-588)15523-8          Jelenia Góra  N050.899722 E015.728888
1         (DE-588)15530-5              Białogard  N054.694400 E015.987500
2         (DE-588)15533-0             Bartoszyce  N054.253333 E020.808055
3         (DE-588)15536-6              Namysłów  N051.075920 E017.722840
4         (DE-588)15612-7              Obervolta  N013.000000 W002.000000
...                   ...                    ...                      ...
55753  (DE-588)1188276298           Deggenhausen  N047.803930 E009.382669
55754  (DE-588)1188279335  Pfullendorf-Denkingen  N047.925833 E009.257777
55755  (DE-588)118835468X          Neutrauchburg  N047.708339 E010.035119
55756  (DE-588)1188366351           Sankt Hülfe  N052.621659 E008.394679
55757  (DE-588)1188366483                 Aschen  N052.650555 E008.365277

[55758 rows x 3 columns]

In [73]:
df[['Lat','Lon']] = df.Coordinates.str.split(" ",expand=True,)
df

,Id,Name,Coordinates,Lat,Lon
0,(DE-588)15523-8,Jelenia Góra,N050.899722 E015.728888,N050.899722,E015.728888
1,(DE-588)15530-5,Białogard,N054.694400 E015.987500,N054.694400,E015.987500
2,(DE-588)15533-0,Bartoszyce,N054.253333 E020.808055,N054.253333,E020.808055
3,(DE-588)15536-6,Namysłów,N051.075920 E017.722840,N051.075920,E017.722840
4,(DE-588)15612-7,Obervolta,N013.000000 W002.000000,N013.000000,W002.000000
...,...,...,...,...,...
55753,(DE-588)1188276298,Deggenhausen,N047.803930 E009.382669,N047.803930,E009.382669
55754,(DE-588)1188279335,Pfullendorf-Denkingen,N047.925833 E009.257777,N047.925833,E009.257777
55755,(DE-588)118835468X,Neutrauchburg,N047.708339 E010.035119,N047.708339,E010.035119
55756,(DE-588)1188366351,Sankt Hülfe,N052.621659 E008.394679,N052.621659,E008.394679
55757,(DE-588)1188366483,Aschen,N052.650555 E008.365277,N052.650555,E008.365277

In [74]:
df.Lat = df.Lat.str.replace('N', '')
df.Lat = df.Lat.str.replace('S', '-')
df.Lon = df.Lon.str.replace('E', '')
df.Lon = df.Lon.str.replace('W', '-')
df

,Id,Name,Coordinates,Lat,Lon
0,(DE-588)15523-8,Jelenia Góra,N050.899722 E015.728888,050.899722,015.728888
1,(DE-588)15530-5,Białogard,N054.694400 E015.987500,054.694400,015.987500
2,(DE-588)15533-0,Bartoszyce,N054.253333 E020.808055,054.253333,020.808055
3,(DE-588)15536-6,Namysłów,N051.075920 E017.722840,051.075920,017.722840
4,(DE-588)15612-7,Obervolta,N013.000000 W002.000000,013.000000,-002.000000
...,...,...,...,...,...
55753,(DE-588)1188276298,Deggenhausen,N047.803930 E009.382669,047.803930,009.382669
55754,(DE-588)1188279335,Pfullendorf-Denkingen,N047.925833 E009.257777,047.925833,009.257777
55755,(DE-588)118835468X,Neutrauchburg,N047.708339 E010.035119,047.708339,010.035119
55756,(DE-588)1188366351,Sankt Hülfe,N052.621659 E008.394679,052.621659,008.394679
55757,(DE-588)1188366483,Aschen,N052.650555 E008.365277,052.650555,008.365277

In [77]:
df.to_csv('all-geo-coordinates.csv', index=False)