# Long to wide format transformer
### Code to transform the wide data format of the temporal data label categories (e.g. number of jobs per year) to a long format

In [9]:
import pandas as pd

In [13]:
df = pd.read_csv('data-results/corpname_50er_all.csv') #data-results/persontopicterms_50er-2.csv
print(df.head(5))

                            EntityName  year_50  year_100  year_150  year_200  \
0              Rengersche Buchhandlung      1.0       NaN       NaN       NaN
1           Christian Albrecht Gäbert      1.0       NaN       NaN       NaN
2                    Asclepios-Edition      1.0       NaN       NaN       NaN
3                    Imprimerie Royale      1.0       NaN       NaN       1.0
4  Otto-Friedrich-Universität Bamberg      1.0       NaN       NaN       NaN

   year_250  year_300  year_350  year_400  year_450  ...  year_1550  \
0       NaN       NaN       NaN       NaN       NaN  ...        NaN
1       NaN       NaN       NaN       NaN       NaN  ...        NaN
2       NaN       NaN       NaN       NaN       NaN  ...        NaN
3       NaN       NaN       1.0       NaN       1.0  ...        1.0
4       NaN       NaN       NaN       NaN       NaN  ...        NaN

   year_1600  year_1650  year_1700  year_1750  year_1800  year_1850  \
0        1.0        1.0        1.0        1.0        1.0        1.0
1        1.0        1.0        1.0        NaN        NaN        NaN
2        NaN        NaN        1.0        1.0        NaN        NaN
3        1.0        2.0        4.0        1.0        1.0        NaN
4        NaN        NaN        NaN        1.0        1.0        1.0

   year_1900  year_1950  year_2000
0        NaN        NaN        NaN
1        NaN        NaN        NaN
2        NaN        1.0        NaN
3        NaN        NaN        NaN
4        9.0       20.0        NaN

[5 rows x 41 columns]

In [14]:
longFormatDF = pd.wide_to_long(df, ["year_"], i="EntityName", j="year")
longFormatDF

                                          year_
EntityName                          year
Rengersche Buchhandlung             50      1.0
Christian Albrecht Gäbert          50      1.0
Asclepios-Edition                   50      1.0
Imprimerie Royale                   50      1.0
Otto-Friedrich-Universität Bamberg 50      1.0
...                                         ...
Stormwitch                          2000    1.0
Gifu-Keizai-Daigaku                 2000    1.0
Life de Luxe                        2000    1.0
Universidad Siglo 21                2000    1.0
Dawes                               2000    1.0

[6261400 rows x 1 columns]

In [15]:
longFormatDF.to_csv("data-results/corpname_50er_long.csv")