# Node Timeline Statistics

In [1]:
!pip install --upgrade py2neo
from py2neo import Graph, Relationship, NodeMatcher
from string import Template
import pandas as pd 

#Login + PW for the local neo4j database
graph = Graph("bolt+ssc://h2918680.stratoserver.net:7687", auth=("sonar", "sonar2021"))

Collecting py2neo
  Downloading py2neo-2021.1.5-py2.py3-none-any.whl (204 kB)
     |████████████████████████████████| 204 kB 2.5 MB/s eta 0:00:01
Requirement already satisfied, skipping upgrade: pansi>=2020.7.3 in /Users/mark-janbludau/opt/anaconda3/lib/python3.8/site-packages (from py2neo) (2020.7.3)
Requirement already satisfied, skipping upgrade: prompt-toolkit>=2.0.7; python_version >= "3.6" in /Users/mark-janbludau/opt/anaconda3/lib/python3.8/site-packages (from py2neo) (3.0.8)
Requirement already satisfied, skipping upgrade: neotime~=1.7.4 in /Users/mark-janbludau/opt/anaconda3/lib/python3.8/site-packages (from py2neo) (1.7.4)
Requirement already satisfied, skipping upgrade: monotonic in /Users/mark-janbludau/opt/anaconda3/lib/python3.8/site-packages (from py2neo) (1.6)
Requirement already satisfied, skipping upgrade: docker in /Users/mark-janbludau/opt/anaconda3/lib/python3.8/site-packages (from py2neo) (5.0.0)
Requirement already satisfied, skipping upgrade: certifi in /Users/mark-janbludau/opt/anaconda3/lib/python3.8/site-packages (from py2neo) (2020.6.20)
Requirement already satisfied, skipping upgrade: packaging in /Users/mark-janbludau/opt/anaconda3/lib/python3.8/site-packages (from py2neo) (20.4)
Requirement already satisfied, skipping upgrade: pygments>=2.0.0 in /Users/mark-janbludau/opt/anaconda3/lib/python3.8/site-packages (from py2neo) (2.7.2)
Requirement already satisfied, skipping upgrade: english in /Users/mark-janbludau/opt/anaconda3/lib/python3.8/site-packages (from py2neo) (2020.7.0)
Requirement already satisfied, skipping upgrade: pytz in /Users/mark-janbludau/opt/anaconda3/lib/python3.8/site-packages (from py2neo) (2020.1)
Requirement already satisfied, skipping upgrade: urllib3 in /Users/mark-janbludau/opt/anaconda3/lib/python3.8/site-packages (from py2neo) (1.25.11)
Requirement already satisfied, skipping upgrade: six>=1.15.0 in /Users/mark-janbludau/opt/anaconda3/lib/python3.8/site-packages (from py2neo) (1.15.0)
Requirement already satisfied, skipping upgrade: cryptography in /Users/mark-janbludau/opt/anaconda3/lib/python3.8/site-packages (from py2neo) (3.1.1)
Requirement already satisfied, skipping upgrade: wcwidth in /Users/mark-janbludau/opt/anaconda3/lib/python3.8/site-packages (from prompt-toolkit>=2.0.7; python_version >= "3.6"->py2neo) (0.2.5)
Requirement already satisfied, skipping upgrade: websocket-client>=0.32.0 in /Users/mark-janbludau/opt/anaconda3/lib/python3.8/site-packages (from docker->py2neo) (0.59.0)
Requirement already satisfied, skipping upgrade: requests!=2.18.0,>=2.14.2 in /Users/mark-janbludau/opt/anaconda3/lib/python3.8/site-packages (from docker->py2neo) (2.24.0)
Requirement already satisfied, skipping upgrade: pyparsing>=2.0.2 in /Users/mark-janbludau/opt/anaconda3/lib/python3.8/site-packages (from packaging->py2neo) (2.4.7)
Requirement already satisfied, skipping upgrade: cffi!=1.11.3,>=1.8 in /Users/mark-janbludau/opt/anaconda3/lib/python3.8/site-packages (from cryptography->py2neo) (1.14.3)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /Users/mark-janbludau/opt/anaconda3/lib/python3.8/site-packages (from requests!=2.18.0,>=2.14.2->docker->py2neo) (2.10)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /Users/mark-janbludau/opt/anaconda3/lib/python3.8/site-packages (from requests!=2.18.0,>=2.14.2->docker->py2neo) (3.0.4)
Requirement already satisfied, skipping upgrade: pycparser in /Users/mark-janbludau/opt/anaconda3/lib/python3.8/site-packages (from cffi!=1.11.3,>=1.8->cryptography->py2neo) (2.20)
Installing collected packages: py2neo
  Attempting uninstall: py2neo
    Found existing installation: py2neo 2021.1.1
    Uninstalling py2neo-2021.1.1:
      Successfully uninstalled py2neo-2021.1.1
Successfully installed py2neo-2021.1.5

In [36]:
#options (startYear = first year (below 0 doesn't work yet), steps = next step in interval)
startYear = 0
steps = 50

In [9]:
query = 'MATCH (n:Resource) \
WHERE toInteger(n.DateApproxBegin) >= 1700 \
AND toInteger(n.DateApproxBegin) <= 1701 \
RETURN count(n)' 
#RETURN n.Name as Name, n.Title as Title, n.Id as Id, n.Genre as Genre, n.DateApproxBegin as DateApproxBegin, n.DateApproxEnd as DateApproxEnd, labels(n) as Label LIMIT 10' 
result = graph.run(query).data()
dfTemp = pd.DataFrame(result)
dfTemp

   count(n)
0      9417

# Count numbers per year interval for each label

In [31]:
%%time
#PerNames (schnell: 22min 47) aber Tod muss eingearbeteitet werden, damit Personen auch bei späteren Jahren auftauchen
dfFinal2 = pd.DataFrame()
for x in range(0, 40): #80
    z = x*steps
    queryTemplate = Template('\
    MATCH (n:PerName) \
    WHERE (toInteger(n.DateApproxBegin) >= toInteger(${year})) AND (toInteger(n.DateApproxBegin) < toInteger(${year2})) \
    RETURN ${year} As year, Count(DISTINCT n) As PerName')
    query = queryTemplate.substitute(year=startYear+z, year2=startYear+z+steps)
    result = graph.run(query).data()
    df2 = pd.DataFrame(result)
    dfFinal2 = dfFinal2.append(df2)

dfFinal2

CPU times: user 464 ms, sys: 62.1 ms, total: 526 ms
Wall time: 22min 47s

    year  PerName
0      0      444
0     25       28
0     50       18
0     75       12
0    100       20
..   ...      ...
0   1900   258748
0   1925   535663
0   1950   753336
0   1975   349022
0   2000     1034

[81 rows x 2 columns]

In [34]:
%%time
#MeetName (schnell: 3min 36s)
dfFinal3 = pd.DataFrame()
for x in range(0, 40): #80
    z = x*steps
    queryTemplate = Template('\
    MATCH (n:MeetName) \
    WHERE (toInteger(n.DateApproxBegin) >= toInteger(${year})) AND (toInteger(n.DateApproxBegin) < toInteger(${year2})) \
    RETURN ${year} As year, Count(DISTINCT n) As MeetName')
    query = queryTemplate.substitute(year=startYear+z, year2=startYear+z+steps)
    result = graph.run(query).data()
    df3 = pd.DataFrame(result)
    dfFinal3 = dfFinal3.append(df3)

dfFinal3

CPU times: user 347 ms, sys: 40.4 ms, total: 387 ms
Wall time: 3min 36s

    year  MeetName
0      0       339
0     25        24
0     50         1
0    175         3
0    200         6
..   ...       ...
0   1900      4273
0   1925      7715
0   1950     53383
0   1975    338208
0   2000    259765

[65 rows x 2 columns]

In [38]:
%%time
#Resourcen (sehr langsam: 3h 4min)
dfFinal = pd.DataFrame()
for x in range(0, 42): #80
    z = x*steps
    queryTemplate = Template('\
    MATCH (n:Resource) \
    WHERE (toInteger(n.DateApproxBegin) >= toInteger(${year})) AND (toInteger(n.DateApproxBegin) < toInteger(${year2})) \
    RETURN ${year} As year, Count(DISTINCT n) As Resource')
    query = queryTemplate.substitute(year=startYear+z, year2=startYear+z+steps)
    result = graph.run(query).data()
    df = pd.DataFrame(result)
    dfFinal = dfFinal.append(df)

dfFinal

CPU times: user 631 ms, sys: 308 ms, total: 939 ms
Wall time: 3h 4min 43s

   year  Resource
0     0     19928
0    50        15
0   100         5
0   150        47
0   200        13
0   250         2
0   300        13
0   350         3
0   400         8
0   450        18
0   500        32
0   550        33
0   600        99
0   650       249
0   700        52
0   750        38
0   800       253
0   850        12
0   900        89
0   950         6
0  1000        95
0  1050        27
0  1100        79
0  1150        29
0  1200        79
0  1250       241
0  1300      1162
0  1350       741
0  1400       598
0  1450      3094
0  1500     41175
0  1550     93215
0  1600    107725
0  1650    151450
0  1700    172668
0  1750    274207
0  1800    513330
0  1850    975718
0  1900   3214440
0  1950   9327726
0  2000   7268540
0  2050        48

In [54]:
%%time
#UniTitle (sehr schnell: 50.2 s)
dfFinal4 = pd.DataFrame()
for x in range(0, 40): #80
    z = x*steps
    queryTemplate = Template('\
    MATCH (n:UniTitle) \
    WHERE (toInteger(n.DateApproxBegin) >= toInteger(${year})) AND (toInteger(n.DateApproxBegin) < toInteger(${year2})) \
    RETURN ${year} As year, Count(DISTINCT n) As UniTitle')
    query = queryTemplate.substitute(year=startYear+z, year2=startYear+z+steps)
    result = graph.run(query).data()
    df4 = pd.DataFrame(result)
    dfFinal4 = dfFinal4.append(df4)

dfFinal4

CPU times: user 164 ms, sys: 20.1 ms, total: 184 ms
Wall time: 50.2 s

   year  UniTitle
0   800         1
0  1050         6
0  1150         2
0  1200        12
0  1250        13
0  1300        14
0  1350         8
0  1400        14
0  1450        17
0  1500        70
0  1550       100
0  1600       113
0  1650       113
0  1700       202
0  1750       419
0  1800       375
0  1850       352
0  1900      1874
0  1950      4858

In [64]:
#merge the data to one dataset
dfFinalAll = pd.merge(dfFinal, dfFinal2, how='left')
dfFinalAll = pd.merge(dfFinalAll, dfFinal3, how='left')
dfFinalAll = pd.merge(dfFinalAll, dfFinal4, how='left')
dfFinalAll.fillna(0).reset_index()

    index  year  Resource   PerName  MeetName  UniTitle
0       0     0     19928     444.0     339.0       0.0
1       1    50        15      18.0       1.0       0.0
2       2   100         5      20.0       0.0       0.0
3       3   150        47      31.0       0.0       0.0
4       4   200        13      34.0       6.0       0.0
5       5   250         2      34.0       1.0       0.0
6       6   300        13      52.0       1.0       0.0
7       7   350         3      46.0       3.0       0.0
8       8   400         8      53.0       1.0       0.0
9       9   450        18      57.0       2.0       0.0
10     10   500        32      56.0       0.0       0.0
11     11   550        33      57.0       1.0       0.0
12     12   600        99      70.0       0.0       0.0
13     13   650       249      60.0       1.0       0.0
14     14   700        52      80.0       0.0       0.0
15     15   750        38      94.0       1.0       0.0
16     16   800       253     103.0       0.0       1.0
17     17   850        12      92.0       6.0       0.0
18     18   900        89     119.0       7.0       0.0
19     19   950         6     172.0     148.0       0.0
20     20  1000        95     229.0       7.0       0.0
21     21  1050        27     293.0       3.0       6.0
22     22  1100        79     298.0       2.0       0.0
23     23  1150        29     398.0       6.0       2.0
24     24  1200        79     411.0       2.0      12.0
25     25  1250       241     531.0       1.0      13.0
26     26  1300      1162     573.0       2.0      14.0
27     27  1350       741     742.0       2.0       8.0
28     28  1400       598    1249.0       8.0      14.0
29     29  1450      3094    2463.0      11.0      17.0
30     30  1500     41175    4840.0      17.0      70.0
31     31  1550     93215   10913.0      33.0     100.0
32     32  1600    107725   17871.0      22.0     113.0
33     33  1650    151450   18661.0       9.0     113.0
34     34  1700    172668   21594.0       9.0     202.0
35     35  1750    274207   34171.0      17.0     419.0
36     36  1800    513330   62458.0      56.0     375.0
37     37  1850    975718  113264.0     688.0     352.0
38     38  1900   3214440  258748.0    4273.0    1874.0
39     39  1950   9327726  753336.0   53383.0    4858.0
40     40  2000   7268540    1034.0  259765.0       0.0
41     41  2050        48       0.0       0.0       0.0

In [66]:
#save as csv
dfFinalAll.to_csv("data-results/timeline-data.csv")